.outer-circle {
    position: relative;
    height: 250px;
    width: 250px;
    border: 2px solid linear-gradient(#1f1c1c, #1f1c1c, #1f1c1c);
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;

  }
  
  .outer-circle span {
    position: absolute;
    height: 250px;
    width: 250px;
    right: 0px;
    top: 0px;
    background: linear-gradient(#c17d3585, #c17d3585, #c17d3585);
    border-radius: 50%;
  }
  @media (max-width: 1024px) {
    .outer-circle span {
      right: 0px;
    }
  }
  @media (max-width: 640px) {
    .outer-circle span {
    top: -8px;
    }
  }
  .outer-circle span:nth-child(1) {
    filter: blur(2px);
  }
  
  .outer-circle span:nth-child(2) {
    filter: blur(5px);
  }
  
  .outer-circle span:nth-child(3) {
    filter: blur(10px);
  }
  
  .outer-circle span:nth-child(4) {
    filter: blur(15px);
  }
  
  
  @keyframes rotate {
    0% {
      filter: hue-rotate(300deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
/* 
  .outer-circle-end {
    position: relative;
    height: 22vw;
    width: 22vw;
    border: 2px solid linear-gradient(#ffffffa9, #ffffffa9, #ffffffa9);
    border-radius: 50%;
    animation: rotate2 1.5s linear infinite;

  }
  
  .outer-circle-end span {
    position: absolute;
    height: 22vw;
    width: 22vw;
    right: 105px;
    top: -40px;
    background: linear-gradient(#642f00a9, #f07d19a9, #642f00a9);
    border-radius: 50%;
    
  }
  .outer-circle-end span:nth-child(1) {
    filter: blur(5px);
  }
  
  .outer-circle-end span:nth-child(2) {
    filter: blur(10px);
  }
  
  .outer-circle-end span:nth-child(3) {
    filter: blur(20px);
  }
  
  .outer-circle-end span:nth-child(4) {
    filter: blur(30px);
  }
  
  
  @keyframes rotate2 {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(5deg);
    } */
  /* } */